html, body {
    height: 100%; /* Ensure the root elements have a height */
    margin: 0;
    padding: 0;
    background-color: rgb(42, 56, 39);
}

main {
    height: 100%; /* Ensure the parent container has a height */
    background-color: rgb(42, 56, 39);
    padding: 0;
    margin: 0;
}

#content {
    background-color: #2a3827;
    color:beige;
    height: 100%;
    display: grid;
    grid-template-columns: .15fr 1fr 1fr 1fr .15fr;
    gap: 1rem;
    grid-template-rows: 15% 65% 25%;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

#poem-div {
   grid-column: 2 / span 3;
   grid-row: 1 / span 1;
   background-color: #f5f5dc;
   color:rgb(52, 33, 14);
   padding: 1.8rem;
   margin-top: 7rem;
   display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

#poem-div p {
    font-size: 1.4rem;
    line-height: 1.5rem;
    /* position: absolute;
    top: 20.5%;
    left: 50%;
    transform: translate(-50%, -50%); */
    text-align: center;
    /* width: 80%; */
}

#poem-div h1, h2 {
    font-size: 1.4rem;
    margin: .25rem;
    /* align-self: flex-end; */
    text-align: center;
    width: 100%;
    color: rgb(42, 56, 39);
    /* color: beige; */
}
#poem-div #title {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#poem-div #author {
    position: absolute;
    top: 13%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#story {
    grid-column: 2 / span 3;
    grid-row: 2 / span 1;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
}

img {
    max-height: 45vh;
    /* margin: .25rem; */
}
.visually-hidden {
    visibility: hidden;
}
/* .skip {
    position: absolute;
   left: -10000px;
   width: auto;
   height: 35px;
   background-color: white;
 }


 .skip:focus {
   position: absolute;
   top: 20px;
   left: auto;
 } */
 /* code from threkk @ medium.com: https://threkk.medium.com/how-to-make-a-css-only-hamburger-menu-f7ad41e13399 */
 input[type="checkbox"] {
    display: none; /* Hides the checkbox */
}

input[type="checkbox"]:not(:checked) + ul {
    display: none; /* Hides the associated <ul> when the checkbox is not checked */
}

.lbl-toggle:focus {
    outline: 2px solid #FFCB05; /* Add a visible outline */
    outline-offset: 2px;
    color: #FFCB05;
}

figure>a:focus {
    outline: 2px solid #FFCB05; 
    outline-offset: 4px;
}

nav {
    grid-column: unset; /* Ensure it's not part of any grid */
    grid-row: unset;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: rgb(30, 39, 28);
    color: snow;
    display: flex;
    justify-content: flex-start;
    padding-top: .5rem;
    padding-bottom: .5rem;
    height: 3rem;
}

nav ul {
    /* Make the markers disappear */
    list-style-type: none;
}

nav ul li {
    /* Puts the elements in a single line */
    display: inline-flex;
    margin: .75rem;
}
nav ul li a.active-page {
    color: #58be54;
    text-decoration: underline;
    font-weight: bold;
}

nav {
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 0;
    margin-right: 0;
}

/* Because we are in mobile mode, we want to display it as a
   vertical list */
   nav ul {
    /* Make the markers disappear */
    list-style-type: none;
}

/* We have two lists: the first one are the always visibile items
   in the menu bar. The second one is the one that will be hidden */
nav ul:last-child {
    width: 100%;
    flex-basis: 100%;
}

nav ul li {
    margin-bottom: 0;
    width: 100%;
    text-align: center;
    padding: .25rem;
    color: white;
}

nav ul li a {
    color:beige;
    text-decoration:none;
    font-family: 'Crimson Text', Montserrat, sans-serif;
    font-size: 1.25rem;
    font-weight: bold;
    padding: .25rem;
}

/* Stlying the menu icon, the checkbox stays hidden */
nav label {
    text-align: right;
    display: block;
    padding: .5rem;
    margin-left:.75rem;
    line-height: 2rem;
    align-self: center;
    font-size: 2rem;
}




/* sourced from: https://codepen.io/imjuangarcia/pen/pGgmbe */
/* Typography imported from Google Fonts */

h1, h2, h3, h4, h5, h6 {
  font-family: 'Crimson Text', serif;
}
h3 {
    color: white;
    font-size: 1.5rem;
    padding-bottom: 1rem;
    padding-top: .5rem;
}

p, a {
  font-family: 'Crimson Text', Montserrat, sans-serif;
  text-align: center;
}

html {
    scroll-behavior: smooth;
}

.collapsible-content:focus-visible {
    outline: 2px solid #FFCB05;
    outline-offset: 2px;
}

a:hover {
    opacity: .6;
}
a:visited{
    color: #377535;
}

/* Styles for the hero image */

/* Slide styling from w3 schools */

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: 3rem 0rem;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  bottom: 200px;
  width:auto;
  /* margin-top: -22px; */
  padding: 16px;
  color: beige;
  font-weight: bold;
  font-size: 1rem;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  color: rgb(42, 56, 39);
  font-size: 2rem;
  padding: 8px 12px;
  /* position: absolute;
  bottom: 60px;
  width: 100%; */
  text-align: center;
}

.link{
    color: #58be54;
  /* color: rgb(42, 56, 39); */
  font-size: 3rem;
  text-decoration: underline;
  /* position: absolute;
  bottom: 25px; */
  width: 100%;
  text-align: center;
}
#arborDayLink {
        display: inline-block;
        margin: 0 auto;
}
/* Number text (1/3 etc) */
.numbertext {
  color: beige;
  font-size: 1rem;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
    visibility: hidden;
  /* cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease; */
}

.active, .dot:hover {
  font-weight: bold;
  /* background-color: #58be547d; */
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

#resource-content {
    height:auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
    background-color: rgb(42, 56, 39);
}
#resource-content h1 {
    color: #58BE54f2;
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
    z-index: 1000;
    margin: .5rem;
}
#resource-content h2 {
    color: #f5f5dc;
    font-size: 2rem;
    text-align: center;
}
.resource-list {
    color:#34210e;
}
.resource-list>* {
   background-color: #58be54b1;
   border-radius: 1rem;
   padding: 1rem;
   margin: 1rem;
   font-size: 2rem;
   text-align: center;
}
#resource-content img {
    max-width: 80%;
    margin-bottom: 3rem;
    margin-top: 3rem;
}

#resource-content a {
    color: #281A0B;
}

i {
    color: beige;
    font-size: 2rem;
    margin-right: 1rem;
}
#resource-content i {
    color: rgb(42, 56, 39);
}
footer {
    grid-column: unset; /* Ensure it's not part of any grid */
    grid-row: unset;
    position:fixed;
    left: 0;
    width: 100%;
    z-index: 1000;
    bottom: 0;
    text-align: center;
    background-color: rgb(42, 56, 39); /* Match the theme */
    color: beige;
    /* padding: 1rem; */
    height: 4.5rem;
}
footer p {
    margin-top: .5rem;
}
#soundCopyright {
    opacity: .5;
}

audio::-webkit-media-controls-panel {
    display: flex;
    justify-content: space-between;
    background-color: #67af44;
    /* color: beige; Text color for the audio player */
}

audio::-webkit-media-controls-timeline,
audio::-webkit-media-controls-current-time-display,
audio::-webkit-media-controls-time-remaining-display,
audio::-webkit-media-controls-seek-back-button,
audio::-webkit-media-controls-seek-forward-button {
    display: none; /* Hide unwanted controls */
}

audio::-webkit-media-controls-play-button,
audio::-webkit-media-controls-volume-control {
    display: block; /* Ensure play button and volume control are visible */
}

#audioPlayer {
    grid-column: 2 / span 3;
    grid-row: 3 / span 1;
    /* display: inline-block; */
    margin: 2rem auto;
    text-align: center;
    /* border:#FFCB05 2px solid; */
}

/* Big Phone */
@media only screen and (min-width: 568px) {
#content {
    margin-top: 5rem;}

#poem-div {
    padding: 2rem;
    margin-top: 9rem;
}
#poem-div p {
    font-size: 2rem;
}

#poem-div h2 {
    font-size: 2rem;
}
#poem-div #title {
    top: 12%;
}
#poem-div #author {
    top: 16%;
}
nav {
    height:5rem;
}
nav ul {
   margin-top: 1rem;
   background-color:rgb(30, 39, 28);
}
#resource-content h2 {
    margin-top: 6rem;
}

#resource-content h1 {
    font-size: 3rem;
    text-align: center;
    z-index: 1000;
    margin: 1rem;
}

}


/* Tablet */
@media only screen and (min-width: 768px) {
#poem-div {
    padding: 1.8rem;
    margin-top: 10rem;
}
#poem-div #title {
    top: 13%;
}
#poem-div #author {
    top: 18%;
}
.text .link .numbertext{
    font-size: 3rem;
}
.prev, .next {
    font-size: 2rem;
  }
}
/* Desktop */
@media only screen and (min-width: 1024px) {
    #content {
        grid-template-rows: 10% 70% 20%;
        grid-template-columns: .15fr 1fr .5fr .5fr 1fr .15fr;
    }
    .active, .dot:hover {
        color: beige;
      }
    #poem-div {
        grid-column: 2 / span 2;
        grid-row: 2 / span 1;
        background-color: beige;
        color:rgb(52, 33, 14);
        padding: 1rem 0rem .5rem 0rem;
        margin: 3rem .25rem 1rem .25rem;
        display: flex;
         flex-direction: column;
         justify-content: space-around;
     }
     #poem-div p {
        margin: 0;
        padding: 0rem;
        line-height: .75rem;
        font-size: 1rem;
        opacity: 0.5;
        /* Dim by default */
        transition: opacity 0.5s ease;
        /* Smooth transition */
     }
     #poem-div h2 {
        grid-row: 1 /span 1;
    }

    .poem.active, .poem.previous {
        opacity: 1;
        /* Fully visible when active */
      }

    #story {
        grid-column: 4 / span 2;
    }
    img {
        max-height: 40vh;
    }
    .prev, .next {
        bottom: 0px;
        font-weight: bold;
        font-size: 2rem;
      }
    .text {
        color: beige;
        font-size: 2rem;
        margin-top: 2rem;
}
#audioPlayer {
    grid-column: 5 / span 1;
    grid-row: 3 / span 1;
}}

/* Bigger Desktop */
@media only screen and (min-width: 1440px) {
    #content {
        grid-template-rows: 10% 70% 20%;
        grid-template-columns: .15fr .5fr .5fr .5fr .5fr .5fr .5fr .15fr;
    }
    #poem-div {
        grid-column: 3 / span 2;
        grid-row: 2 / span 1;
     }
     #story {
        grid-column: 5 / span 2;
     }
     #audioPlayer {
        grid-column: 7 / span 1;
        grid-row: 3 / span 1;
    }
}
/* For Debugging */
/* #content {
    border: 2px solid red; /* Border around the grid container
}*/

/* #content > * {
    border: 1px solid blue; /* Border around each grid item
} */


